@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}

.loader {
  background-color: white;
}

.loading-grow {
  background-color: #23c55e;
  height: 100%;
  animation-name: load;
  animation-duration: 2s;
}

.gamedata {
  height: 375px;
}

@keyframes load {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
